# Pandas

- Analyse 2D or multi dimensional data 
- Table like data 
- Internally they use numpy

In [ ]:
# %pip install pandas

## Creating data

- Dictionaries
- import from csv

final dat will be a DataFrame (Table)

In [2]:
import pandas as pd

In [3]:
data = {
    'Name': ['John', 'Anna', 'Peter', 'Linda'],
    'Age': [28, 34, 29, 32],
    'City': ['New York', 'Paris', 'Berlin', 'London']
}

data

{'Name': ['John', 'Anna', 'Peter', 'Linda'],
 'Age': [28, 34, 29, 32],
 'City': ['New York', 'Paris', 'Berlin', 'London']}

In [4]:
df = pd.DataFrame(data)
df

    Name  Age      City
0   John   28  New York
1   Anna   34     Paris
2  Peter   29    Berlin
3  Linda   32    London

### Filerting column

In SQL:
```sql
SELECT name FROM df
```

In [5]:
df['Name']

0     John
1     Anna
2    Peter
3    Linda
Name: Name, dtype: object

In [6]:
print(type(df))
print(type(df['Name']))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>